#pacModal.modal::before {
  content: "";
  display: inline-block;
  height: 100%;
  margin-right: 28%;
  vertical-align: middle;
}

#pacModal .modal-dialog {
     display: inline-block;
     text-align: left;
     vertical-align: middle;

}

#eventosModal.modal::before, #trataModal.modal::before {
  content: "";
  display: inline-block;
  height: 100%;
  margin-right: 28%;
  vertical-align: middle;
}

#eventosModal .modal-dialog, #trataModal .modal-dialog {
     display: inline-block;
     text-align: left;
     vertical-align: middle;
   
}

#maniOtrasModal.modal::before {
  content: "";
  display: inline-block;
  height: 100%;
  margin-right: 28%;
  vertical-align: middle;
}

#maniOtrasModal .modal-dialog {
     display: inline-block;
     text-align: left;
     vertical-align: middle;

}

#germenesModal.modal::before {
  content: "";
  display: inline-block;
  height: 100%;
  margin-right: 28%;
  vertical-align: middle;
}

#germenesModal .modal-dialog {
     display: inline-block;
     text-align: left;
     vertical-align: middle;

}

