{% extends "base_all.html" %}

{% block content %}
    <h3>Eventos adversos</h3>
    <form method="post" action="">
        <a class="btn btn-primary" href="{% url "Interrupcion_tratamiento" inc %}">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </a>
        <input type="submit" class="btn btn-primary" value="Guardar">
        <a class="btn btn-primary" href="{% url "Tratamientos_concomitantes" inc %}">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </a>

        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">Eventos adversos reportados</h4>
                </div>
                <div class="panel-body">
                    {% if eventos_adversos %}
                        <h2>Eventos adversos reportados</h2>
                        <table class="table">
                            <tbody>
                            {% for evento in eventos_adversos %}
                                <tr>
                                    <th style="text-align: left">
                                        <a href="{% url "Evento_adverso_mod" inc evento.nombre.nombre %}">{{ evento.nombre.nombre }}</a>
                                    </th>
                                    <td>
                                        <button type="button" class="btn btn-primary" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No se reportaron eventos adversos</p>
                    {% endif %}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <a class="btn btn-primary" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span
                                    class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Agregar evento adverso
                            </a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <table class="table">
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        <table>
                                            {{ form2.as_table }}
                                            {{ form.as_table }}
                                        </table>
                                    </form>
                                    <input type="submit" class="btn btn-primary" value="Agregar">
                                </table>
                            </div>
                        </div>
                    </div>


                    {% csrf_token %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}