<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Ensayo clinico Dermofural en UPD</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" href="{% static "css/navbar-fixed-top.css" %}">
    <link rel="stylesheet" href="{% static "css/own.css" %}">
    {% load staticfiles %}
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/jquery.form.min.js" %}"></script>
    <script src="{% static "js/evento_adverso.js" %}"></script>
    <script src="{% static "js/trata_con.js" %}"></script>
    <script src="{% static "js/bootstrap-3.3.6.min.js" %}"></script>

    {% block head %}{% endblock %}

</head>


<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="http://www.cbq.uclv.edu.cu/index.php?option=com_content&task=view&id=12&Itemid=36">
            <img alt="CBQ" src="{% static "images/CBQazul.png" %}" width="50px" height="50px" style="margin-top: -10px">
        </a>
        <div class="navbar-header" style="margin-top: -3px; margin-bottom: 5px">
            <h3>Ensayo Clínico Dermofural UPD</h3>
        </div>
        <div class="navbar-right " style="margin-top: 13px">
            <a class="btn btn-primary" href="{% url "Index" %}"><span class="glyphicon glyphicon-list"></span> Listado
                de
                pacientes</a>
            <a class="btn btn-danger" href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                {% block nav %}{% endblock nav %}
            </ul>
        </div>
        <div class="col-md-9">
            <div class="content">
                {% block content %}
                    {% if pacientes %}
                        <h3>Listado de pacientes</h3>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>No inclusion</th>
                                    <th>Iniciales</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for paciente in pacientes %}
                                <tr>
                                    <td style="text-align: left">
                                        <a class="btn" href="{% url "Paciente_modificar" paciente.no_inclusion %}">{{ paciente.no_inclusion }}</a>
                                    </td>
                                    <td>
                                        <a href="{% url "Paciente_modificar" paciente.no_inclusion %}">{{ paciente.iniciales }}</a>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Eliminar
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h2>No hay pacientes registrados</h2>
                    {% endif %}
                    <a class="btn btn-primary" href="{% url "Paciente" %}"><span
                            class="glyphicon glyphicon-user" aria-hidden="true"></span> Agregar paciente</a>
                {% endblock content %}
            </div>
        </div>
    </div>
</div>


</body>
</html>