<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Ensayo clinico Dermofural en UPD</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" href="{% static "css/navbar-fixed-top.css" %}">
    {% load staticfiles %}
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/jquery.form.min.js" %}"></script>
    <script src="{% static "js/evento_adverso.js" %}"></script>
    <script src="{% static "js/bootstrap-3.3.6.min.js" %}"></script>

    {% block head %}{% endblock %}

</head>


<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <h3>Ensayo Clínico Dermofural UPD</h3>
        </div>
        <div class="navbar-right ">
            <a class="btn btn-info" href="{% url "Index" %}"><span class="glyphicon glyphicon-list"></span> Listado de pacientes</a>
            <a class="btn btn-danger" href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                {% block nav %}{% endblock nav %}
            </ul>
        </div>
        <div class="col-md-9">
            <div class="content">
                {% block content %}
                    {% if pacientes %}
                        <h2>Listado de pacientes</h2>
                        <table class="table">
                            <tbody>
                            {% for paciente in pacientes %}
                                <tr>
                                    <th style="text-align: left">
                                        <a class="btn-link" href="{% url "Paciente_modificar" paciente.no_inclusion %}">Paciente
                                            #: {{ paciente.no_inclusion }} - {{ paciente.iniciales }}</a>
                                    </th>
                                    <td>
                                        <button type="button" class="btn btn-primary" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th>
                                    <br>
                                    <a class="btn btn-primary" href="{% url "Paciente" %}">Agregar paciente</a>
                                </th>
                                <td>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    {% else %}
                        <h2>No hay pacientes registrados</h2>
                    {% endif %}
                {% endblock content %}
            </div>
        </div>
    </div>
</div>


</body>
</html>