<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Ensayo clinico Dermofural en UPD</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="header">
            <h1>Ensayo Clínico Dermofural UPD</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" >
            <div class="navegador">
                <ul class="nav">
                    {% block nav %}{% endblock nav %}
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="content">
      {% block content %}
            <div class="lista_pacientes">
                {% if pacientes %}
                    <h2>Listado de pacientes</h2>
                    <table>
                        <tbody>
                           {% for paciente in pacientes %}
                                <tr>
                                    <th style="text-align: left">
                                       <a href="{% url "Paciente_modificar" paciente.no_inclusion %}">Paciente #: {{paciente.no_inclusion}} - {{paciente.iniciales}}</a>
                                    </th>
                                    <td>
                                        <input type="button" action="">
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th>
                                    <br>
                                    <a href="{% url "Paciente" %}">Agregar paciente</a>
                                </th>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    <h2>No hay pacientes registrados</h2>
                {% endif %}
            </div>
      {% endblock content %}
  </div>
        </div>
    </div>
<div class="row">
  <div class="footer">
    <p class="text-center">Ensayo clínico Dermofural UPD<br>
    CBQ-Centro de Bioactivos Químicos</p>
    </div>
</div>
</div>

<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>