{% extends "base_all.html" %}


{% block content %}
    <form method="post" action="">
        <div class="row" style="margin-top: -13px">
            <div class="col-md-8" style="position: fixed">
                <div class="navbar navbar-default">
                    <h3 style="margin-left: 10px">Interrupcion del tratamiento</h3>

                    <div style="margin-left: 15px; margin-bottom: 15px">
                        <a class="btn btn-primary" href="{% url "Evaluacion_final" inc %}">
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        </a>
                        <button type="submit" class="btn btn-primary" aria-label="Left Align">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Guardar
                        </button>
                        <a class="btn btn-primary" href="{% url "Eventos_adversos" inc %}">
                            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 105px">
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">Datos generales</h4>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="">
                            <table class="table">
                                {{ form.as_table }}
                            </table>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
    </form>
{% endblock content %}