{% extends "index.html" %}

{% block button_editar %}{% endblock %}

{% block container %}
    <div class="row-2">
        <div class="col-lg-9">
            <h1>Usted ha cerrado sesion</h1>
            <a class="cen btn btn-primary" href="{% url "Home" %}"><span class="glyphicon glyphicon-home"></span>
                Home</a>
            <a class="btn btn-primary" href="{% url "Login" %}"><span class="glyphicon glyphicon-log-in"></span>
                Login</a>
        </div>
    </div>
{% endblock %}
