{% extends "index.html" %}

{% block list_pacientes %}
    <a class="btn btn-default" href="{% url "Index" %}"><span class="glyphicon glyphicon-list"></span>
        Listado
        de
        pacientes</a>
{% endblock %}

{% block content %}
    <h3>Agregar paciente</h3>
    <form method="post" action="">
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">Datos generales</h4>
                </div>
                <div class="panel-body">
                    {% csrf_token %}
                    <table class="table table-hover table-striped">
                        {{ paciente_form.as_table }}
                    </table>
                    <button type="submit" class="btn btn-primary" aria-label="Left Align">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}