{% extends "index.html" %}


{% block content %}
    <h2>{{ result }}</h2>
    <form method="post" action="">
        <input type="submit" class="btn btn-primary" value="Guardar">

        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">Datos generales</h4>
                </div>
                <div class="panel-body">
                        {% csrf_token %}
                        <table class="table">
                            {{ paciente_form.as_table }}
                        </table>
                        
                </div>
            </div>
        </div>
    </form>
{% endblock content %}