{% extends "base_all.html" %}

{% block content %}
    {% if tratamientos_concomitantes %}
        <h2>Tratamientos concomitantes reportados</h2>
        <table>
            <tbody>
                {% for tratamiento in tratamientos_concomitantes %}
                  <tr>
                       <th>
                          <a href="">{{tratamiento.nombre.nombre}} --- {{tratamiento.fecha_inicio}}</a>
                      </th>
                        <td>
                            <input type="button" action="">
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <th>
                        <br>
                        <a href="{% url "Tratamiento_concomitante" inc %}">Agregar tratamiento concomitante</a>
                    </th>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <h2>No se han reportado tratamientos concomitantes</h2>
    {% endif %}
{% endblock %}